{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block content %}
<h1>Academic Trajectory & Research Focus</h1>
<div class="card">
  <div class="card-body">
    <p>My work focuses on how intelligent systems behave under uncertainty, especially in contexts where data is limited, human behavior is complex, and the stakes are high. I am particularly interested in questions of alignment, accountability, and the long-term societal implications of deploying AI across critical sectors.</p>
    <p>Alongside my technical work, I am actively engaged in public policy and global dialogue. I have participated in international programs and forums where I contribute to discussions on climate, development, and responsible technology, bringing a perspective shaped by both research and lived experience. These engagements have strengthened my ability to translate technical ideas into policy-relevant insights and communicate them across diverse audiences.</p>
    <p>My broader goal is to help shape the future of intelligent systems in a way that is thoughtful, grounded, and globally inclusive. I am especially committed to ensuring that the development and deployment of advanced technologies consider not only performance, but also their impact on people, institutions, and long-term societal outcomes.</p>
  </div>
</div>
<div>
    <h2 class="mt-4 text-center">Core Competencies</h2>
    
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card text-bg-light mb-3 border-info" style="height: 100%;">
        <div class="card-body">
            <h3>Technical Toolkit</h3>
            <ul>
                <li>Python, JavaScript, C#</li>
                <li>React/Vite, Flask, Django</li>
                <li>Data Science: Numpy, Pandas, Matplotlib, Seaborn</li>
                <li>ML: Scikit-Learn, TensorFlow with Keras, OpenAI/Gemini APIs</li>
                <li>Git/Github</li>
            </ul>
        </div>
        </div>
            </div>
            <div class="col">
            <div class="card text-bg-light mb-3 border-info" style="height: 100%;">
        <div class="card-body">
            <h3>Research & Communication</h3>
            <ul>
                <li>Field Research & Survey Design (KoboToolbox)</li>
                <li>Academic Writing (LATEX)</li>
                <li>Cross-Disciplinary Collaboration (GAEC partnership)</li>
                <li>Youth Mentorship & Public Speaking (100+ mentees)</li>
                <li>Leadership</li>
            </ul>
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}