{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

<br>
<div class="hrdivider">
  <hr/>
  <span>PHOTO DUMPS FROM IFWY, SOUTH KOREA</span>
</div>
<br><br>
<div class="container">
    <img src="static\assets\photo_2025-11-02_20-32-04.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2025-11-02_20-32-11.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2025-11-02_20-32-19.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2025-11-02_20-31-56.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2026-08-12_18-00-02.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2026-08-12_18-00-13.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2026-08-12_18-00-29.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2026-08-12_18-05-09.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
    <img src="static\assets\photo_2026-08-12_18-00-39.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
</div>


<br><br><br>
<div class="hrdivider">
  <hr/>
  <span>PHOTO DUMPS FROM IFWY, BOTSWANA</span>
</div>
<br><br>
<div class="container"> 
  <img src="static\assets\photo_2026-08-12_18-01-47.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-03-13.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-04-50.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-04-45.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-04-40.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-04-34.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-04-28.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-03-54.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-03-48.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_18-01-52.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
</div>


<br><br><br>
<div class="hrdivider">
  <hr/>
  <span>PHOTO DUMPS FROM AFRICA CLIMATE COLLABORATIVE WITH MASTERCARD</span>
</div>
 <br><br>
<div class="container">
  <img src="static\assets\photo_2026-08-12_17-59-09.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_17-59-28.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_17-59-34.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_17-59-39.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
  <img src="static\assets\photo_2026-08-12_17-59-47.jpg" class="rounded" alt="Hilda" style="width: 200px; height: 200px;">
</div>
<br><br><br>


{% endblock %}

