{% extends "base.html" %}

{% block title %}
Experience
{% endblock %}

{% block content %}
<h1>Conferences & Highlights</h1>
<p>Academic and Conference engagements, keynotes, and structural highlights.</p>

<button type="button" class="btn btn-outline-info mb-4 mx-5"><a class="link-info link-offset-2 link-underline link-underline-opacity-0" href="{{ url_for ('archives')}}">Photo Archives</a></button>

<div class="card mb-3 text-bg-light mb-3 text-bg-light mb-3 mx-5 border-info">
  <div class="card-body">
    <h5 class="card-title">International "We, The Youth" Forum </h5>
    <p class="card-text">Selected as one of 50 delegates from nearly 7,000 applicants across the region to attend the Regional Conference, engaging with young leaders on youth-driven innovation and policy dialogue.</p>
    <p class="card-text"><small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </svg> Botswana  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg> 2025</small></p>
  </div>
</div>
<div class="card mb-3 text-bg-light mb-3 mx-5 border-info">
  <div class="card-body">
    <h5 class="card-title">International "We, The Youth" Forum </h5>
    <p class="card-text">Advanced to the Global Youth Summit as one of 150 finalists selected from over 27,000 applicants worldwide, representing Ghana and presenting FarmDirect on an international stage.</p>
    <p class="card-text"><small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </svg> South Korea  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg> 2025</small></p>
  </div>
</div>
<div class="card mb-3 text-bg-light mb-3 mx-5 border-info">
  <div class="card-body">
    <h5 class="card-title">Poster Presentation (Title: From Knowledge to Practice: Evidence for Strengthening Infection Prevention Behaviours among Undergraduate Nursing and Midwifery Students in Ghana)</h5>
    <p class="card-text">Presented a poster alongside lead author Catherine Tenewaa Osei at Korle Bu Teaching Hospital, Ghana's largest teaching hospital, sharing survey-based findings on infection-prevention practices with a clinical and academic audience.p>
    <p class="card-text"><small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
    </svg> Ghana  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg> 2026</small></p>
  </div>
</div>


{% endblock %}